.local/
distfiles/
packages/
work/
work.*/
*.core
!/pkgsrc/**/Makefile
!/profiles/common-build-tools/recipes/**/Makefile
!/probes/plasma-mobile/toolkit/recipes/**/Makefile
!/profiles/common-graphics/recipes/**/Makefile
!/profiles/common-media/recipes/**/Makefile
!/profiles/network-diagnostics/recipes/**/Makefile
